html,body,#page,header{
  height: 100%;
}

html{
  font-size: 18px;
  font-family: Helvetica;
  line-height: 1.4;
}

.container{
  width: 960px;
  margin: 0 auto;
}

.mainconetent{
  min-height: calc(100% - 9.5rem);
}

.banner{
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
}

.header{
  display: flex;
  justify-content: space-between;
  background-color: cadetblue;
  position: relative;
  top: 1rem;
  color: white;
}

.logo{
  display: flex;
  align-items: center;
  padding-left: 2rem;
}

.logo img{
  height: 1.5rem;
  width: auto;
}

.logo span{
  margin-left: 1rem;
  padding: 1rem 0;
}

.header nav{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header nav span{
  padding: 1rem 2rem 1rem 0;
}

.motto{
  position: relative;
  top: 14rem;
  left: 2rem;
  display: flex;
  justify-content: flex-end;
}

.motto h1{
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  padding: 1.5rem 5rem;
}

.services{
  display: flex;
  justify-content: center;
}

.service{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 3rem 3rem;
  height: 8rem;
  width: 5rem;
  text-align: center;
}

.paper{
  max-width: 3.5rem;
  height: auto;
}

.ruler{
  max-width: 5rem;
  height: auto;
}

.truck {
  max-width: 100%;
  height: auto;
}

.information{
  display: flex;
  justify-content: center;
}

.infogrid{
  display: flex;
  flex-direction: column;
  width: 35%;
}

.infogrid h2{
  font-weight: bold;
  font-size: 1rem;
  background-color: black;
  color: white;
  padding: 0.5rem 0 0.5rem 1.25rem;
  width: 10rem;
}

.infogrid p{
  margin-top: 1rem;
}

.appointments{
  margin-left: 5%;
}

footer{
  background-color: azure;
  width: 100%;
  margin-top: 5rem;
  height: 9.5rem;
  display: flex;
  align-items: center;
}

.footerlogo{
  display: flex;
  align-items: center;
}

.footerlogo img{
  height: 1.5rem;
  width: auto;
  margin: 0 1rem 0 4rem;
}
